.App {
  text-align: center;
}

.cabecalho {
  font-family: 'Epilogue';
  color: aliceblue;
  font-size: 50px;
  font-weight: 50;
  font-style: italic;
  position: absolute;
  top: 50px;
  left: 550px;
}

.missoesTitulo {
  color: #FFFFFF;
  position: absolute;
width: 159px;
height: 60px;
left: 600px;
top: 630px;

font-family: 'Epilogue';
font-style: normal;
font-weight: 300;
font-size: 40px;
line-height: 150%;
/* identical to box height, or 60px */

text-align: center;
text-transform: uppercase;

color: #FFFFFF;
}

.planeta {
  position: absolute;
  left: 613px;
  top: 180px;
  font-family: 'Epilogue';
  font-weight: 300;
  font-size: 40px;
  line-height: 150%;
  color: #FFFFFF;
}

.Netuno {
  position: absolute;
width: 144px;
height: 107px;
left: 1200px;
top: -60px;
transform: matrix(-1, 0, 0, 1, 0, 0);
}

.Netuno1 {
  position: absolute;
  left: 1250px;
  top: 90px;
  font-family: 'Epilogue';
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #FFFFFF;
}

.Urano {
  position: absolute;
  width: 144px;
  height: 109px;
  left: 977px;
  top: -55px;
}

.Urano1 {
  position: absolute;
  left: 1025px;
  top: 90px;
  font-family: 'Epilogue';
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #FFFFFF;
}

.Vênus {
  position: absolute;
width: 102px;
height: 76px;
left: 137px;
top: -40px;
}

.Vênus1 {

position: absolute;
left: 164px;
top: 78px;
font-family: 'Epilogue';
font-weight: 400;
font-size: 20px;
line-height: 150%;
color: #FFFFFF;
}

.Terra {
  position: absolute;
  width: 106px;
  height: 79px;
  left: 278px;
  top: -37px;
}

.Terra1 {
  position: absolute;
  left: 311px;
  top: 79px;
  font-family: 'Epilogue';
  font-weight: 400;
  font-size: 20px;
  line-height: 150%; 
  color: #FFFFFF;
}

.Marte {
  position: absolute;
  width: 66px;
  height: 50px;
  left: 423px;
  top: -27px;
}

.Marte1 {
  position: absolute;
  left: 433px;
  top: 84px;
  font-family: 'Epilogue';
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #FFFFFF;

}

.Mercúrio1 {
  position: absolute;
  left: 35px;
  top: 80px;
  font-family: 'Epilogue';
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #FFFFFF;
}

.Mercúrio {
  position: absolute;
width: 41px;
height: 31px;
left: 39px;
top: -18px;
}

.Júpiter {
  position: absolute;
  width: 272px;
  height: 204px;
  left: 489px;
  top: -100px;
}

.Júpiter1 {
  position: absolute;
  left: 600px;
  top: 90px;
  font-family: 'Epilogue';
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #FFFFFF;
}

.divPla {
  display: flex;
  flex-direction: row;
}

.Saturno {
  position: absolute;
  width: 282.41px;
  height: 210.9px;
  left: 700px;
  top: -110px;
  transform: rotate(-16.53deg);
}

.Saturno1 {
  position: absolute;
  top: 90px;
  left: 810px;
  font-family: 'Epilogue';
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #FFFFFF;
}

.Missoes {
  display: flex;
  border: 1px snow solid;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1098px;
  height: 2280px;
  margin-left: 10%;
  margin-top: 630px;
  /* background: #FFFFFF; */
   /* opacity: 0.1;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.9); */
  border-radius: 30px;
}

.divv {
  border: 1px solid white;
  width: 1415px;
  height: 0;
  top: 400px;
  position: absolute;
}

.f {
  border: 3px solid wheat;
  width: 280px;
  height: 95px;
  position: absolute;
  top: 30px;
  left: 550px;
  border-radius: 50%;
  transform: matrix(1, 0, 0.01, 1, 0, 0);
  -ms-transform: skewY(-15deg);
  -webkit-transform: skewY(-15deg);
  transform: skewY(-15deg);
}

.divPlaneta {
  position: absolute;
  width: 1410px;
  height: 0px;
  left: 0px;
  top: 400px;
  /* border: 1px solid #FFFFFF; */
}

.MissaoCard {
  width: 496px;
  display: flexbox;
  height: 150px;
  margin-left: 24px;
  border: 1px solid #FFFFFF;
  border-radius: 17px;
  color: #FFFFFF;
  margin-top: 70px;
  margin-bottom: 0;
}

.Texto1 {
  font-family: 'Epilogue';
  font-weight: 300;
  font-size: 25px;
  margin-top: 10px;
  line-height: 120%;
  margin-left: 30px;
  display: flex;
  /* align-items: center; */
  text-transform: uppercase;
  color: #FFFFFF;
}

.nameCard {
  border-radius: 10px;
  width: 493px;
  height: 70px;
  border: 1px solid white;
}


div {
  background-image: url('./images/background.png');
  margin: 0;
}

.infoCard {
  display: flex;
  font-family: 'Epilogue';
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #FFFFFF;
  margin-left: 30px;
  margin-top: 30px;
}

.Texto2 {
  margin-left: 30px;
}

.Texto3 {
  margin-left: 30px;
}
